<h1>Listing chapsticks</h1>

<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Flavor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chapsticks.each do |chapstick| %>
      <tr>
        <td><%= chapstick.brand %></td>
        <td><%= chapstick.flavor %></td>
        <td>
          <ul>
            <% (1..5).each do |i| %>
              <li class="rating_star" data-chapstick-id="<%= chapstick.id %>" value="<%= i %>" id="<%="chapstick_#{chapstick.id}_#{i}"%>">star</li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Show', chapstick %></td>
        <td><%= link_to 'Edit', edit_chapstick_path(chapstick) %></td>
        <td><%= link_to 'Destroy', chapstick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapstick', new_chapstick_path %>
